<div class="how-to-start" id="how-to-start">
  <h3 class="how-to-start-title mb-5">Как начать?</h3>
  <div class="container">
    <div class="row ">
      <div class="offset-1 col-5 how-to-start-text">
        <p class="mb-0">Версия сервера 1.19.1</p>
        <p class="mb-4">IP: 192.0.0.100:5000</p>
        <p class="mb-4">
          На сервере используется белый список для входа, поэтому для начала вам нужно получить доступ, пройдя тест на
          знания правил сервера.
        </p>
        <p>
          После успешного прохождения ваш аккаунт получит доступ на вход.
        </p>
      </div>
      <div class="offset-2 col-3 how-to-start-btn">
        <a class="btn btn-primary" href="https://t.me/politicsCubedBot" target="_blank">Регистрация</a>
      </div>
    </div>
  </div>

</div>
