<div class="about-us">
  <div class="container">
    <div class="about-us-title mb-5">
      <img src="assets/references/ClearLogo.png">
      <h3>Политика<span class="position-relative">3</span></h3>
    </div>
    <div class="about-us-text">
      <p class="about-us-text-main">
        Сервер Minecraft для тех, кто увлекается политикой. Он объединяет в себе людей совершенно различных политических
        взглядов: <br class="d-none d-lg-inline"> от сталинистов до либертарианцев!
      </p>
      <p class="about-us-text-subtext">
        Политика в Кубе — это сервер, где вам всегда будут рады!
      </p>
    </div>
  </div>
</div>
