<div class="tiles">
  <div class="tiles-header">Особенности</div>
  <div class="container tiles-content">
    <div class="row">
      <div class="col-6">
        <div class="tile">
          <h5>Приваты</h5>
          <p>
            Отсутствие приватов на сервере. Свобода выбора территории. Задавайте свои правила, свои символики и
            опознавательные знаки своего места.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="tile">
          <h5>Администрация</h5>
          <p>
            Добрая и отзывчивая администрация всегда прислушается и поможет вам в любой ситуации. Возможность стать
            модератором при желании совместной работы с администрацией.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="tile">
          <h5>Союзы и Фракции</h5>
          <p>
            Любая группа игроков может создать собственную фракцию со своей символикой, Для создания фракции
            воспользуйтесь
            формой на сайте или обратитесь к любому администратору.
          </p>
          <p class="mb-0">
            Любая группа фракций может создать собственный союз со своей символикой. Для создания союза воспользуйтесь
            формой на сайте или обратитесь к любому администратору.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="tile">
          <h5>Картины</h5>
          <p>
            У нас нету возможности получить преимущество над другими игроками донатом. Однако вы можете приобрести
            кастомные картины, кастомные головы и многое другое, даже без доната.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
