<app-nav-menu></app-nav-menu>
<app-header-banner [text]="'Конституция Политики в Кубе'" [urlImg]="'assets/references/banner.jpg'"></app-header-banner>

<div class="rule-text">
  <div class="container">
    <div class="chapter">
      <div class="chapter-icon">
        <fa-icon [icon]="userGroup"></fa-icon>
      </div>
      <h4>1. Игрок, администрация, сервер</h4>
      <div class="chapter-point">
        <h5>1.1. Концепция сервера</h5>
        <p>
          Политика в Кубе является ванильным сервером политической направленности. Изменение концепции сервера
          недопустимо.
        </p>
        <p>
          Политика в кубе — сервер с комьюнити созидателей, а не разрушителей. Убедительная просьба не забывать об этом
          время игры :)
        </p>
      </div>
      <div class="chapter-point">
        <h5>1.2. Администрация, модерация</h5>
        <p>
          Админы обладают всей полнотой власти на сервере. Слово администрации является окончательным в решении любого
          вопроса. Приём новых членов в администрацию разрешается строго с согласия всей администрации. Исключение из
          администрации возможно в случае измены.
        </p>
        <p>
          Модеры являются помощниками администрации. Приём новых членов в модерацию разрешается строго с согласия всей
          администрации. Исключение из модерации возможно в случае согласия с данным решением более половины членов
          администрации.
        </p>
        <p>
          Администрацию может представлять любой её члены при отсутствии возражений остальных, кроме случаев, когда в
          правилах указано обратное.
        </p>
      </div>
      <div class="chapter-point">
        <h5>1.3. Правила, прецеденты, нарушения</h5>
        <p>
          От всех игроков требуется чёткое и безоговорочное следование правилам сервера. Наказание за нарушение правил
          выбирается администрацией, если не существует прецедента. Игрок вправе обратиться в частный суд для
          обжалования
          приговора администрации.
        </p>
        <p>
          На сервере действует система прецедентов, т.е. использования уже существующей трактовки правил в последующих
          схожих ситуациях. Для использования прецедент должен быть зарегистрирован. Зарегистрировать прецедент может
          администрация сервера, либо частный суд. Внести изменение в прецедент, либо остановить или возобновить его
          действие может администрации при согласии более половины её членов, либо частный суд.
        </p>
      </div>
      <div class="chapter-point">
        <h5>1.4. Частные суды</h5>
        <p>
          Администрацией поощряется создание и действие частных судов. Игрок может обратиться в частный суд по любому
          вопросу.
        </p>
        <p>
          Частный суд должен быть зарегистрирован. Порядок регистрации и требования устанавливаются прецедентом.
        </p>
      </div>
      <div class="chapter-point">
        <h5>1.5. Свобода слова</h5>
        <p>
          На сервере действует свобода слова. Ограничение свободы слова допускается в случаях спама, либо излишней
          токсичности игрока.
        </p>
      </div>
    </div>
    <div class="chapter">
      <div class="chapter-icon">
        <fa-icon [icon]="map"></fa-icon>
      </div>
      <h4>2. Территория</h4>
      <div class="chapter-point">
        <h5>2.1. Присвоение территории</h5>
        <p>
          Игрок имеет право присвоить себе, своей фракции или своему союзу любую территорию, произведя на ней изменения,
          либо же взяв на себя обязательство их произвести.
        </p>
        <p>
          Принадлежность территории необходимо обозначать табличкой, либо знаменем.
        </p>
        <p>
          Неизменённая в течении длительного времени территория игрока может быть изъята у него по решению администрации
          сервера, либо частного суда.
        </p>
      </div>
      <div class="chapter-point">
        <h5>2.2. Гриферство</h5>
        <p>
          Гриферство категорически запрещено на сервере.
        </p>
        <p>
          Гриферством считается любые постановка и поломка блоков на чужой территории без согласия владельца, кроме
          случаев, когда данное действие было случайным.
        </p>
      </div>
      <div class="chapter-point">
        <h5>2.3. Спорные моменты</h5>
        <p>
          Если присвоенная территория мешает свободному перемещению игроков в конкретном мире, то владелец территории
          обязан предоставить проход через неё.
        </p>
      </div>
      <div class="chapter-point">
        <h5>2.4. Приваты и демилитаризованные зоны</h5>
        <p>
          На сервере допускается приват стратегически важной территории по решению администрации.
        </p>
        <p>
          Также на сервере допускается создание демилитаризованных зон по решению администрации или частного суда с
          согласия владельца территории.
        </p>
      </div>
    </div>
    <div class="chapter">
      <div class="chapter-icon">
        <fa-icon [icon]="message"></fa-icon>
      </div>
      <h4>3. Взаимодеиствие игроков</h4>
      <div class="chapter-point">
        <h5>3.1. Договоры</h5>
        <p>
          Игроки и объединения имеют право заключать друг с другом договоры касательно любых сфер игры на сервере.
        </p>
        <p>
          Договоры могут отменять правила сервера в отношении сторон, заключивших их.
        </p>
        <p>
          Договоры обязаны быть зарегистрированы.
        </p>
      </div>
      <div class="chapter-point">
        <h5>3.2. Добровольные объединения</h5>
        <p>
          Игроки имеют право кооперироваться и объединяться. На сервере существует два типа объединений, нуждающихся в
          регистрации: фракции и союзы.
        </p>
        <p>
          Фракции имеют собственные территорию, правила и символику, могут участвовать в войнах. Нарушение правил
          сервера или фракции внутри неё регулируется самой фракцией.
        </p>
        <p>
          Союзы объединяют несколько фракций. При этом, фракции могут состоять в нескольких союзах одновременно. Союзы
          могут иметь собственные правила, символику и территорию, не принадлежащую ни одной из фракций внутри союза,
          могут участвовать в войнах. Нарушение правил сервера или союза внутри него регулируется самим союзом.
        </p>
      </div>
      <div class="chapter-point">
        <h5>3.3. Войны</h5>
        <p>
          Фракция или союз могут объявить войну любым другим фракциям или союзам, кроме случаев, когда сила одной из
          сторон абсолютно превышает силу другой.
        </p>
        <p>
          Война предполагает разрешение воюющим сторонам гриферства и приравненных к нему вещей на территориях друг
          друга.
        </p>
        <p>
          Нападающая сторона обязана заранее известить обороняющуюся сторону и администрацию об объявлении войны.
        </p>
        <p>
          Порядок объявления войн регулируется прецедентом.
        </p>
      </div>
    </div>
    <div class="chapter">
      <div class="chapter-icon">
        <fa-icon [icon]="faceFrown"></fa-icon>
      </div>
      <h4>4. Читы, дюпы, абьюзы и другое</h4>
      <div class="chapter-point">
        <h5>4.1. Читы</h5>
        <p>
          Читы (в том числе моды выполняющие их роль) приравниваются к гриферству и категорически запрещены на сервере.
        </p>
      </div>
      <div class="chapter-point">
        <h5>4.2. Использование хоруса и абьюзы</h5>
        <p>
          Использование хоруса и абьюзов для попадания на закрытую территорию с целью убийства игрока, мобов или
          воровства приравнивается к гриферству и категорически запрещено на сервере.
        </p>
      </div>
      <div class="chapter-point">
        <h5>4.3. Дюпы</h5>
        <p>
          Дюпы запрещены на сервере.
        </p>
      </div>
      <div class="chapter-point">
        <h5>4.4. Убийства</h5>
        <p>
          Убийство чужих жителей (находящихся на чужой территории), чужих пчёл, чужих грибных коров и мобов,
          проименованных биркой, кроме случаев, когда это было сделано с целью защиты, приравнивается к гриферству и
          запрещено на сервере.
        </p>
      </div>
    </div>
  </div>
</div>
