<header class="container">
  <nav class="navbar">
    <ul class="nav nav-pills left-menu">
      <li class="nav">
        <a href="#">
          <fa-icon [icon]="homeIcon"></fa-icon>
        </a>
      </li>
      <li class="nav">
        <a href="#">О нас</a>
      </li>
      <li class="nav">
        <a href="#">Правила</a>
      </li>
    </ul>
    <div class="logo-img">
      <a href="#">
        <img src="./assets/references/Logo.png" alt="logo">
      </a>
    </div>
    <ul class="nav nav-pills right-menu">
      <li class="nav">
        <a href="#">Фракции</a>
      </li>
      <li class="nav">
        <a href="#">Союзы</a>
      </li>
      <li class="nav">
        <a href="#">Обращение</a>
      </li>
    </ul>
  </nav>
</header>
