<div class="card">
  <div class="card-body">
    <img src="assets/references/TestImg.jpg" [alt]="entity.title">
    <p class="card-title">{{entity.title}}</p>
    <p class="card-subtitle">{{entity.subtitle}}</p>
    <p class="card-title-owner mb-0">Основатель:</p>
    <p class="card-owner mb-0">{{entity.owner}}</p>
  </div>
  <div class="card-footer">
    <p class="card-coordinates mb-0">x{{entity.coordinatesX}} y{{entity.coordinatesY}}</p>

    <a href="#"><img src="assets/icons/read-more.svg" alt="read more"></a>
  </div>
</div>
